.wordmark {
  margin-bottom: 173px;
  grid-column: 1 / -1;

  h1 {
    color: transparent;
    position: absolute;
    font-size: 16.4vw;
    font-weight: 500;
    margin-top: -2.5vw;
  }

  svg {
    width: 100%;
    height: auto;
  }
}
