.project-preview-carousel {
  position: relative;
  width: 500px;

  &__content {
    display: flex;
    overflow-x: auto;
  }

  img,
  video {
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 100%;
  }
}
