.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;

  a {
    color: inherit;
  }

  nav {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
}
