@use "./styles/fontnames.scss";
@use "./styles/fonts.scss";

* {
  font-family: fontnames.$sans;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  min-height: 100%;
}

main {
  margin: 20px;
}
