@use "../../styles/colors";

.project {
  padding: 20px;
  position: relative;

  &__copy {
    display: block;
    grid-column: 1 / 5;

    &__sticky {
      position: sticky;
      top: 20px;
      left: 0;
    }

    details {
      margin-bottom: 4px;
      border-radius: 4px;
      padding: 16px;
      background-color: colors.$grey-light;
    }
  }

  &__media {
    grid-column: 5 / -1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 8px;
    row-gap: 10px;
    flex: 1;

    &__card {
      position: relative;
      grid-column: span 3;
      border-radius: 4px;
      overflow: hidden;
    }

    .rich-media {
      position: relative;
      width: 100%;
      object-fit: contain;
      display: inline-block;
      margin-bottom: -3px;
    }
  }
}
